.root {
  height: 100%;
  padding-left: 100px;
  box-sizing: border-box;
  padding-top: 75px;
}
.add {
  display: block;
  &-title {
    display: block;
    font-size: 24px;
    letter-spacing: 5px;
  }
}
.editor {
  display: block;
  
}

.title {
  display: block;
}
.content {
  display: block;
  margin-bottom: 30px;
}